<!DOCTYPE html>
<html lang="en">
<head>
    <title>TODO List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
    <style>
        .ex1 {
          margin-left: 10%;
          height:50px;width:250px
        }
        .ex2 {
            height:50px;width:250px
        }
        .test {
            margin-left: 10%;
        }

        .test1 {
            margin-left: 32%;
        }
    </style>
</head>
<body>
    <div style="margin-left:0;" class="container p-1 my-1 bg-dark text-white">
        <h1>Welcome to TODO  page</h1>
        <p>This page is to maintain TODO list of the day(s).</p>
        <p style="text-align:right;"> Created by, Chakra</p>
    </div>
    {% block body %}

    {% endblock %}
</body>
</html>